params.containerDir = "containers"
params.beforeScriptTimeCMD = 'export TIMESTART=\$(date +%s)'
params.afterScriptTimeCMD = 'export TIMESTOP=\$((\$(date +%s) - \${TIMESTART:-0}))'
params.beforeScript = ""
params.afterScript = ""
params.condaDir = null

// path to the current directory
def currentDir = new File(System.getProperty("user.dir")).getCanonicalPath()
// default conda installation in local directory
String condaDir_default = "${currentDir}/conda"
String condaDir

if ( params.condaDir == null ){
    condaDir = condaDir_default
} else {
    condaDir = "${params.condaDir}"
}

report {
    enabled = true
    file = "nextflow.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline.html"
}

profiles {
    conda { // run with conda in local desktop environment
        // assuming 'conda' not globally available on system, use the one installed in current dir
        params.beforeScript = "unset PYTHONHOME; unset PYTHONPATH; export PATH=${params.condaDir}:\$PATH"
        params.afterScript = ""
        process.conda = "env.yml"
        executor.queueSize = 5
    }
    phoenix { // for running on NYU phoenix HPC cluster
        process.executor = 'sge'
        process.queue = 'all.q'
        executor.queueSize = 10
        executor.pollInterval = '1min'
        executor.queueStatInterval = '2min'

        params.beforeScript = """
        printf "USER:\${USER:-none} JOB_ID:\${JOB_ID:-none} JOB_NAME:\${JOB_NAME:-none} NSLOTS:\${NSLOTS:-none} HOSTNAME:\${HOSTNAME:-none} PWD:\$PWD\n";
        """
        params.afterScript = ""

        process {
                withName: align {
                    module = "bwa/0.7.7"
                }
            }
    }
    bigpurple { // NYU Big Purple HPC cluster
        process.executor = 'slurm'
        process.queue = "cpu_short"
        process.clusterOptions = '--ntasks-per-node=1 --export=NONE --export=NTHREADS --mem-bind=local'
        process.module = "singularity/2.5.2"
        singularity.envWhitelist = "NTHREADS"
        singularity.autoMounts = true
        singularity.enabled = true
        executor.queueSize = 10
        executor.pollInterval = '1min'
        executor.queueStatInterval = '2min'

        params.beforeScript = """ . /etc/profile.d/modules.sh ; \
        printf "USER:\${USER:-none} SLURM_JOB_ID:\${SLURM_JOB_ID:-none} SLURM_JOB_NAME:\${SLURM_JOB_NAME:-none} HOSTNAME:\${HOSTNAME:-none} PWD:\$PWD NTHREADS:\${NTHREADS:-none}\n" ;
        """
        params.afterScript = ""

        process {
                withName: align {
                    container = "${params.containerDir}/bwa-0.7.17.simg"
                }
        }
    }

}
