params.containerDir = "containers"

params.beforeScriptTimeCMD = 'export TIMESTART=\$(date +%s)'
params.afterScriptTimeCMD = 'export TIMESTOP=\$((\$(date +%s) - \${TIMESTART:-0}))'

profiles {
    phoenix { // for running on NYU phoenix HPC cluster
        process.executor = 'sge'
        process.queue = 'all.q'
        process.clusterOptions = '-cwd'
    }
    bigpurple { // NYU Big Purple HPC cluster
        process.executor = 'slurm'
        process.queue = "cpu_short"
        process.clusterOptions = '--ntasks-per-node=1 --export=NONE --export=NTHREADS --mem-bind=local'
        process.module = "singularity/2.5.2"
        singularity.envWhitelist = "NTHREADS"
        singularity.autoMounts = true
        singularity.enabled = true

        params.beforeScript = """ . /etc/profile.d/modules.sh ; \
        printf "USER:\${USER:-none} SLURM_JOB_ID:\${SLURM_JOB_ID:-none} SLURM_JOB_NAME:\${SLURM_JOB_NAME:-none} HOSTNAME:\${HOSTNAME:-none} PWD:\$PWD NTHREADS:\${NTHREADS:-none}\n" ; \
        ${params.beforeScriptTimeCMD}
        """
        params.afterScript = """
        ${params.afterScriptTimeCMD} ; \
        printf "elapsed time: \${TIMESTOP}\n" ; \
        """

        process {
                withName: align {
                    container = "${params.containerDir}/bwa-0.7.17.simg"
                }
        }
    }

}
